.wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.content {
  background-color: rgb(203, 203, 203);
  padding: 50px 150px 50px 150px;

  border-radius: 50px;
}

.inputs {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  border: 1px solid;
}
.but {
  margin-top: 10px;
}
.pass {
  margin-top: 15px;
}
.buttons {
  background-color: #808080;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.rightBut {
  margin-left: 40px;
  font-family: serif;
}
.leftBut {
  font-family: serif;
}
.email {
  font-family: serif;
  font-size: 18px;
}
.pass {
  font-family: serif;
  font-size: 18px;
}

.textinput input::placeholder {
  text-align: center;
  font-size: 18px;
}

.textinput input {
  font-size: 20px;
  font-family: serif;
}
